<!DOCTYPE html>
<html data-theme="night">

<head>
  <title>Finb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/theme/night.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= favicon_link_tag asset_path("icon.png") %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen">
  <div class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-[350px]">
    <div class="flex flex-col space-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">Login</h1>
    </div>
    <div class="grid gap-6 p-6">
      <%= form_with url: sessions_url, method: :post do  |f| %>
        <div class="grid gap-1">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Username</legend>
            <%= f.text_field :username, class: "input", required: true, placeholder: "type here" %>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Password</legend>
            <%= f.password_field :password, class: "input", required: true, placeholder: "type here" %>
          </fieldset>

          <% if flash[:alert] %>
            <p class="text-xs text-warning">Invalid username or password</p>
          <% end %>

          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
      <% end %>
    <div>
  </div>
</body>

</html>
