<%= form_with(model: transaction) do |form| %>
  <%= render FormErrorsExplanation.new(transaction.errors) if transaction.errors.any? %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :value) %>
    <%= render UI::MoneyField.new(form, :value, default_value: transaction.value) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :description) %>
    <%= render UI::TextField.new(form, :description) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :category_id) %>
    <%= render UI::SelectField.new(name: form.field_name(:category_id), placeholder: 'Select a category', value: transaction.category_id) do |comp| %>
      <% Current.user.categories.order(:name).each do |category| %>
        <% comp.with_option(value: category.id) do %>
          <div class="mr-2">
            <%= render AppUI::Categories::Icon.new(category, size: "lg") %>
          </div>
          <div><%= category.name %></h3>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :credit_card_id) %>
    <%= render UI::SelectField.new(name: form.field_name(:credit_card_id), placeholder: 'Select a credit card', value: transaction.credit_card&.id) do |comp| %>
      <% Current.user.credit_cards.order(:name).each do |card| %>
        <% comp.with_option(value: card.id) do %>
          <%= card.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :statement_month) %>
    <%= render UI::MonthPicker.new(name: form.field_name(:statement_month), initial_value: (transaction.statement&.due_date || Date.current)&.strftime("%b %Y")) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :date) %>
    <%= render "components/ui/date_picker", name: form.field_name(:date), initial_value: transaction.date&.to_fs(:day_month_year) %>
  <% end %>

  <div class="flex justify-between">
    <%= render UI::Button.new(form:) %>
    <%= link_to "Cancel", transactions_path, class: "ml-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-muted text-muted-foreground shadow hover:bg-muted/40 h-9 px-4 py-2" %>
  </div>
<% end %>
