<% if @background %>
  <div
    class="<%= background_size %> rounded-full grid place-items-center"
    style="background-color: <%= @color %>;"
  >
    <i class="<%= variant %> <%= icon %> <%= size %>"
      style="
        color: <%= @color %>;
        filter: invert(1) grayscale(1) brightness(1.3) contrast(9000);
        mix-blend-mode: luminosity;
        opacity: 0.95;
      "
    ></i>
  </div>
<% else %>
  <i class="<%= variant %> <%= icon %> <%= size %>" style="color: <%= @color %>"></i>
<% end %>
