<div id="<%= dom_id credit_card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= credit_card.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">due day:</strong>
    <%= credit_card.due_day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Close day:</strong>
    <%= credit_card.close_day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= credit_card.color %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this credit card", credit_card, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this credit card", edit_credit_card_path(credit_card), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
