<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <%= render UI::H1.new do %>
      <div class="text-transparent bg-clip-text!" style="background: linear-gradient(180deg, var(--color-base-content) 10%, <%= @credit_card.color %> 100%);">
        <%= @credit_card.name %>
      </div>
    <% end %>
    <%= link_to "Add transaction", new_transaction_path(account_id: @credit_card.id), class: "btn btn-primary" %>
  </div>


  <div class="flex items-center gap-2">
    <div class="text-base-content/80">Statement Value:</div>
    <div class="font-semibold tracking-tight">
    <%= number_to_currency(@statement.value) %>
    </div>
  </div>
  <% if @statement.paid_at? %>
    <div class="badge badge-xs badge-success">Paid at <%= @statement.paid_at.to_fs(:day_month_year) %></div>
  <% else %>
    <div class="badge badge-xs badge-warning">Waiting payment</div>
    <br>
    <%= link_to "Pay Now", new_credit_card_statement_payment_path(@credit_card, month: @statement.month.strftime('%Y/%m')), class: "btn btn-xs btn-soft" %>
  <% end %>

  <div class="flex justify-center items-center my-6 gap-8">
    <%= link_to @month.prev_month.strftime('%b %Y'),
                credit_card_path(@credit_card, month: @month.prev_month.strftime('%Y/%m')),
                class: "link"
    %>

    <div class="text-2xl font-semibold tracking-tight"> <%= @month.strftime('%B %Y') %> </div>

    <%= link_to @month.next_month.strftime('%b %Y'),
                credit_card_path(@credit_card, month: @month.next_month.strftime('%Y/%m')),
                class: "link"
    %>
  </div>

  <div class="overflow-x-auto">
    <table id="transactions" class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% installment_groups = { false => @transactions.reject(&:installment?), true => @transactions.select(&:installment?) } %>
        <% installment_groups.each do |is_installment, group| %>
          <% if is_installment && group.any? %>
            <tr class="bg-base-200">
              <td colspan="5" class="py-6 px-4 text-xs font-bold text-primary uppercase tracking-widest">Installments</td>
            </tr>
          <% end %>
          <% group.group_by(&:date).each do |date, transactions| %>
            <tr class="bg-base-200 text-xs font-bold">
              <td colspan="5" class="h-[1rem]"></td>
            </tr>
            <% transactions.each do |transaction| %>
              <%= render AppUI::Transactions::Row.new(transaction, show_installment_indicator: true) %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
