<div class="w-full">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Accounts</h3>
        <%= link_to accounts_url do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-muted-foreground hover:fill-foreground" viewBox="0 0 256 256"><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
        <% end %>
      </div>
      <div class="grid gap-6 max-h-96 overflow-scroll pr-4 my-4">
        <% @accounts.each do |account| %>
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span class="relative flex shrink-0">
                <%== render_account_icon(account) %>
              </span>
              <div>
                <p class="text-sm font-medium leading-none"><%= account.name %></p>
                <%= link_to "View details", account_url(account), class: "text-sm text-muted-foreground underline hover:text-foreground" %>
              </div>
            </div>
            <div>
              <%= number_to_currency(account.balance) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex items-center justify-between text-lg font-medium pr-4">
        <div>Total</div>
        <div><%= number_to_currency(@total_balance)%></div>
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Last Transactions</h3>
        <%= link_to transactions_url do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-muted-foreground hover:fill-foreground" viewBox="0 0 256 256"><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
        <% end %>
      </div>
      <div class="grid gap-6 max-h-[120rem] overflow-scroll my-4">
        <% @last_transactions.each do |transaction| %>
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span class="relative flex shrink-0">
                <%== render_category_icon(transaction.category) %>
              </span>
              <div>
                <p class="text-sm font-medium leading-none"><%= transaction.description %></p>
                <p class="text-sm text-muted-foreground"><%= transaction.account.name %></p>
              </div>
            </div>
            <div>
              <p class="<%= transaction.value.positive? ? 'text-positive' : 'text-negative'%>">
                <%= number_to_currency(transaction.value) %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Last Transfers</h3>
        <%= link_to transfers_url do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-muted-foreground hover:fill-foreground" viewBox="0 0 256 256"><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
        <% end %>
      </div>
      <div class="grid gap-6 max-h-[120rem] my-4">
        <% @last_transfers.each do |transfer| %>
          <div class="grid grid-cols-3">
            <div class="flex items-center gap-4">
              <div> <%== render_account_icon(transfer.origin_account) %> </div>
              <div class="text-ellipsis line-clamp-1 text-sm"><%= transfer.origin_account.name %></div>
            </div>
            <div class="flex flex-col items-center justify-center text-sm">
              <p class="text-muted-foreground leading-none">---></p>
              <p><%= transfer.value %></p>
            </div>
            <div class="flex flex-row-reverse items-center gap-4">
              <div><%== render_account_icon(transfer.target_account) %></div>
              <div class="text-ellipsis line-clamp-1"><%= transfer.target_account.name %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <h2 class="scroll-m-20 text-2xl font-bold tracking-tight">
    This month
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full">
    <div class="flex flex-col gap-2">
      <div class="my-2">Summary</div>
      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Balance</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:current_month][:total_expenses] + @totals[:current_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Income</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:current_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Expenses</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:current_month][:total_expenses]) %></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Expenses by Category</div>
      <div class="flex flex-col">
        <% @totals[:current_month][:expenses_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%== render_category_icon(category) %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Income by Category</div>
      <div class="flex flex-col">
        <% @totals[:current_month][:income_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%== render_category_icon(category) %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-2 mt-4"
    data-controller="categories-charts"
    data-categories-charts-expenses-value="<%= @totals[:current_month][:expenses_by_category].map { { name: _1[0].name, color: _1[0].color, value: _1[1].abs } }.to_json %>"
    data-categories-charts-income-value="<%= @totals[:current_month][:income_by_category].map { { name: _1[0].name, color: _1[0].color, value: _1[1] } }.to_json %>"
  >
    <div data-categories-charts-target="expenses" class="w-full h-96 flex"></div>
    <div data-categories-charts-target="income" class="w-full h-96 flex"></div>
  </div>

  <hr class="my-4">

  <h2 class="scroll-m-20 text-2xl font-bold tracking-tight">
    Last Month
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 w-full">
    <div class="flex flex-col gap-2">
      <div class="my-2">Summary</div>
      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Balance</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_month][:total_expenses] + @totals[:last_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Income</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Expenses</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_month][:total_expenses]) %></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Expenses by Category</div>
      <div class="flex flex-col">
        <% @totals[:last_month][:expenses_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%== render_category_icon(category) %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.prev_month.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Income by Category</div>
      <div class="flex flex-col">
        <% @totals[:last_month][:income_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%== render_category_icon(category) %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.prev_month.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-3 mt-4"
    data-controller="categories-charts"
    data-categories-charts-expenses-value="<%= @totals[:last_month][:expenses_by_category].map { { name: _1[0].name, color: _1[0].color, value: _1[1].abs } }.to_json %>"
    data-categories-charts-income-value="<%= @totals[:last_month][:income_by_category].map { { name: _1[0].name, color: _1[0].color, value: _1[1] } }.to_json %>"
  >
    <div data-categories-charts-target="expenses" class="w-full h-96 flex"></div>
    <div data-categories-charts-target="income" class="w-full h-96 flex"></div>
  </div>
</div>


