<div class="w-full">
  <h2 class="scroll-m-20 text-2xl font-bold tracking-tight">
    This month
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 w-full">
    <div class="flex flex-col gap-2">
      <div class="my-2">Summary</div>
      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Balance</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:current_month][:total_expenses] + @totals[:current_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Income</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:current_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Expenses</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:current_month][:total_expenses]) %></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Expenses by Category</div>
      <div class="flex flex-col">
        <% @totals[:current_month][:expenses_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%= category.icon_svg.html_safe %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Income by Category</div>
      <div class="flex flex-col">
        <% @totals[:current_month][:income_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%= category.icon_svg.html_safe %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <h2 class="scroll-m-20 text-2xl font-bold tracking-tight">
    Last Month
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 w-full">
    <div class="flex flex-col gap-2">
      <div class="my-2">Summary</div>
      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Balance</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_month][:total_expenses] + @totals[:last_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Income</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_month][:total_income]) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Expenses</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_month][:total_expenses]) %></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Expenses by Category</div>
      <div class="flex flex-col">
        <% @totals[:last_month][:expenses_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%= category.icon_svg.html_safe %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.prev_month.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Income by Category</div>
      <div class="flex flex-col">
        <% @totals[:last_month][:income_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%= category.icon_svg.html_safe %>
              </div>
              <h2 class="font-semibold mr-2 hover:underline">
                <%= link_to category.name, transactions_path(month: Date.current.prev_month.strftime('%Y/%m'), category_id: category.id) %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <h2 class="scroll-m-20 text-2xl font-bold tracking-tight">
    Last 3 months
    <span class="text-sm">(Average)</span>
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 w-full">
    <div class="flex flex-col gap-2">
      <div class="my-2">Summary</div>
      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Balance</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency((@totals[:last_three_months][:total_expenses] + @totals[:last_three_months][:total_income])/3) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Income</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_three_months][:total_income] / 3) %></div>
        </div>
      </div>

      <div class="rounded-xl border bg-card text-card-foreground shadow">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-sm font-medium">Expenses</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        </div>
        <div class="p-6 pt-0">
          <div class="text-2xl font-bold"><%= number_to_currency(@totals[:last_three_months][:total_expenses] / 3) %></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Expenses by Category</div>
      <div class="flex flex-col">
        <% @totals[:last_three_months][:expenses_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%= category.icon_svg.html_safe %>
              </div>
              <h2 class="font-semibold mr-2">
                <%= category.name %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value/3) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="my-2">Income by Category</div>
      <div class="flex flex-col">
        <% @totals[:last_three_months][:income_by_category].each do |category, value| %>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <div class="mr-2">
                <%= category.icon_svg.html_safe %>
              </div>
              <h2 class="font-semibold mr-2">
                <%= category.name %>
              </h2>
            </div>
            <div>
              <%= number_to_currency(value/3) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


