<div class="w-full">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Accounts</h3>
        <%= link_to accounts_url do %>
          <i class="ph ph-arrow-square-out"></i>
        <% end %>
      </div>
      <div class="grid gap-6 max-h-96 overflow-y-auto pr-4 my-4">
        <% @accounts.each do |account| %>
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span class="relative flex shrink-0">
                <%= render AppUI::Accounts::Icon.new(account) %>
              </span>
              <div>
                <p class="text-sm font-medium leading-none"><%= account.name %></p>
                <%= link_to "View details", account_url(account), class: "text-sm link" %>
              </div>
            </div>
            <div>
              <%= number_to_currency(account.balance) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex items-center justify-between text-lg font-medium pr-4">
        <div>Total</div>
        <div><%= number_to_currency(@total_balance)%></div>
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Last Transactions</h3>
        <%= link_to transactions_url do %>
          <i class="ph ph-arrow-square-out"></i>
        <% end %>
      </div>
      <div class="grid gap-6 max-h-[120rem] overflow-y-auto my-4">
        <% @last_transactions.each do |transaction| %>
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span class="relative flex shrink-0">
                <%= render AppUI::Categories::Icon.new(transaction.category) %>
              </span>
              <div>
                <p class="text-sm font-medium leading-none"><%= transaction.description %></p>
                <p class="text-sm"><%= transaction.account.name %></p>
              </div>
            </div>
            <div>
              <p class="<%= transaction.value.positive? ? 'text-positive' : 'text-negative'%>">
                <%= number_to_currency(transaction.value) %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Last Transfers</h3>
        <%= link_to transfers_url do %>
          <i class="ph ph-arrow-square-out"></i>
        <% end %>
      </div>
      <div class="grid gap-6 max-h-[120rem] my-4">
        <% @last_transfers.each do |transfer| %>
          <div class="grid grid-cols-3">
            <div class="flex items-center gap-4">
              <div>
                <%= render AppUI::Accounts::Icon.new(transfer.origin_account) %>
              </div>
              <div class="text-ellipsis line-clamp-1 text-sm"><%= transfer.origin_account.name %></div>
            </div>
            <div class="flex flex-col items-center justify-center text-sm">
              <p class="leading-none">---></p>
              <p><%= transfer.value %></p>
            </div>
            <div class="flex flex-row-reverse items-center gap-4">
              <div>
                <%= render AppUI::Accounts::Icon.new(transfer.target_account) %>
              </div>
              <div class="text-ellipsis line-clamp-1"><%= transfer.target_account.name %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <h3 class="text-xl text-center font-bold">Month Summary</h3>

  <%= turbo_frame_tag "month_summary" do %>
    <div class="flex justify-center items-center my-6 gap-8">
      <%=
        link_to @month.prev_month.strftime('%b %Y'),
                url_for(month: @month.prev_month.strftime('%Y/%m')),
                class: "link"
      %>

      <div class="text-2xl font-semibold tracking-tight"> <%= @month.strftime('%B %Y') %> </div>

      <%=
        link_to @month.next_month.strftime('%b %Y'),
                url_for(month: @month.next_month.strftime('%Y/%m')),
                class: "link"
      %>
    </div>

    <div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full">
        <div class="flex flex-col gap-2">
          <div class="my-2">Summary</div>
          <div class="rounded-xl border shadow-sm">
            <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
              <h3 class="tracking-tight text-sm font-medium">Balance</h3>
              <i class="ph-bold ph-arrows-down-up text-xl"></i>
            </div>
            <div class="p-6 pt-0">
              <div class="text-2xl font-bold"><%= number_to_currency(@totals[:total_expenses] + @totals[:total_income]) %></div>
            </div>
          </div>

          <div class="rounded-xl border shadow-sm">
            <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
              <h3 class="tracking-tight text-sm font-medium">Income</h3>
              <i class="ph-bold ph-arrow-up text-xl"></i>
            </div>
            <div class="p-6 pt-0">
              <div class="text-2xl font-bold"><%= number_to_currency(@totals[:total_income]) %></div>
            </div>
          </div>

          <div class="rounded-xl border shadow-sm">
            <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
              <h3 class="tracking-tight text-sm font-medium">Expenses</h3>
              <i class="ph-bold ph-arrow-down text-xl"></i>
            </div>
            <div class="p-6 pt-0">
              <div class="text-2xl font-bold"><%= number_to_currency(@totals[:total_expenses]) %></div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="my-2">Expenses by Category</div>
          <div class="flex flex-col">
            <% @totals[:expenses_by_category].each do |category, value| %>
              <div class="mt-2 flex justify-between">
                <div class="flex items-center">
                  <div class="mr-2">
                    <%= render AppUI::Categories::Icon.new(category) %>
                  </div>
                  <h2 class="font-semibold mr-2 hover:underline">
                    <%= link_to category.name, transactions_path(month: Date.current.strftime('%Y/%m'), category_id: category.id), data: { turbo: false }  %>
                  </h2>
                </div>
                <div>
                  <%= number_to_currency(value) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="my-2">Income by Category</div>
          <div class="flex flex-col">
            <% @totals[:income_by_category].each do |category, value| %>
              <div class="mt-2 flex justify-between">
                <div class="flex items-center">
                  <div class="mr-2">
                    <%= render AppUI::Categories::Icon.new(category) %>
                  </div>
                  <h2 class="font-semibold mr-2 hover:underline">
                    <%= link_to category.name, transactions_path(month: Date.current.strftime('%Y/%m'), category_id: category.id), data: { turbo: false } %>
                  </h2>
                </div>
                <div>
                  <%= number_to_currency(value) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div
        class="grid md:grid-cols-2 mt-4"
        data-controller="categories-charts"
        data-categories-charts-expenses-value="<%= @totals[:expenses_by_category].map { { name: _1[0].name, color: _1[0].color, value: _1[1].abs } }.to_json %>"
        data-categories-charts-income-value="<%= @totals[:income_by_category].map { { name: _1[0].name, color: _1[0].color, value: _1[1] } }.to_json %>"
      >
        <div data-categories-charts-target="expenses" class="w-full h-96 flex"></div>
        <div data-categories-charts-target="income" class="w-full h-96 flex"></div>
      </div>
    </div>
  <% end %>
</div>


