<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-2">
    <%= render("components/h1") { 'Settings' } %>
  </div>
  <hr>
  <div class="mt-4 max-w-md">
    <p class="text-lg font-bold mb-2">Export All Data</p>
    <%= button_to "Download Here", settings_export_data_path, data: { turbo: false }, class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring bg-primary text-primary-foreground shadow hover:bg-primary/90 px-4 py-2" %>
    <p class="text-xs text-muted-foreground mt-2"> Download all your data into a JSON file. It can be used for backup, to transfer to other applications, or for manually analyzing your finances. </p>
  </div>
  <div class="mt-4 max-w-md">
    <p class="text-lg font-bold mb-2">Import Data</p>
    <%= form_with url: settings_import_data_path, method: :post do |form| %>
      <%= form.file_field :file, accept: "application/json", required: true, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
      <%= form.submit "Upload File", class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring bg-primary text-primary-foreground shadow hover:bg-primary/90 px-4 py-2 mt-2" %>
    <% end %>
    <p class="text-xs text-muted-foreground mt-2">
      Upload a JSON file to import your data.
      <span class="text-destructive font-bold">This will overwrite all your existing data.</span>
      Make sure to backup your data before importing.
    </p>
  </div>
</div>
