<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <%= render UI::H1.new.with_content('Settings') %>
  </div>
  <hr>
  <div class="mt-4 max-w-md">
    <p class="text-lg font-bold mb-2">Export All Data</p>
    <p class="text-xs mb-2"> Download all your data into a JSON file. It can be used for backup, to transfer to other applications, or for manually analyzing your finances. </p>
    <%= button_to "Download Here", settings_export_data_path, data: { turbo: false }, class: "btn btn-primary btn-soft" %>
  </div>
  <div class="my-4 max-w-md">
    <p class="text-lg font-bold mb-2">Import Data</p>
    <p class="text-xs text-base-content/80 mb-2">
      Upload a JSON file to import your data.
      <span class="text-warning font-bold">This will overwrite all your existing data.</span>
      Make sure to backup your data before importing.
    </p>
    <%= form_with url: settings_import_data_path, method: :post do |form| %>
      <%= form.file_field :file, accept: "application/json", required: true, class: "file-input block" %>
      <%= form.submit "Upload File", class: "btn btn-primary btn-soft mt-2" %>
    <% end %>
  </div>
  <hr>

  <div class="my-4">
    <%= form_with(url: update_currency_settings_path, method: :put) do |form| %>
      <%= form.select :currency, options_for_select(['USD', 'BRL'], Current.user.default_currency), {}, class: "select" %>
      <%= form.submit "Update Currency", class: "btn btn-primary btn-soft" %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= button_to "Logout", sessions_url, method: :delete, class: "btn btn-error" %>
  </div>
</div>
