<%= form_with(model: transfer, class: "contents") do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
        <% transfer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render FormLabelComponent.new(form, :value) %>
    <%= render MoneyInputComponent.new(form:, attribute: :value, default_value: transfer.value) %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render FormLabelComponent.new(form, :description) %>
    <%= form.text_field :description, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <% accounts = Account.all.order(:name) %>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render FormLabelComponent.new(form, :origin_account_id) %>
    <%=
      render 'components/select',
      name: form.field_name(:origin_account_id),
      placeholder: 'Select an account',
      options: accounts.map { |account| { value: account.id, label: account.name, item: account } },
      value: transfer.origin_account_id do |account|
    %>
      <div class="mr-2">
        <%== render_account_icon(account, size: 24) %>
      </div>
      <div><%= account.name %></h3>
    <% end %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render FormLabelComponent.new(form, :target_account_id) %>
    <%=
      render 'components/select',
      name: form.field_name(:target_account_id),
      placeholder: 'Select an account',
      options: accounts.map { |account| { value: account.id, label: account.name, item: account } },
      value: transfer.target_account_id do |account|
    %>
      <div class="mr-2">
        <%== render_account_icon(account, size: 24) %>
      </div>
      <div><%= account.name %></h3>
    <% end %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render FormLabelComponent.new(form, :date) %>
    <%= render "components/date_picker", name: form.field_name(:date), initial_value: transfer.date&.to_fs(:day_month_year) %>
  </div>

  <div class="inline">
    <%= form.submit class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 hover:cursor-pointer" %>
  </div>
<% end %>
