<tr id="<%= dom_id transfer %>">
  <td><%= transfer.date.to_fs(:day_month_year) %></td>
  <td><%= transfer.description %></td>
  <td>
    <div class="flex items-center">
      <div class="mr-2">
        <%= render AppUI::Accounts::Icon.new(transfer.origin_account) %>
      </div>
      <%= transfer.origin_account.name %>
    </div>
  </td>
  <td>
    <div class="flex items-center">
      <div class="mr-2">
        <%= render AppUI::Accounts::Icon.new(transfer.target_account) %>
      </div>
      <%= transfer.target_account.name %>
    </div>
  </td>
  <td>
    <%= number_to_currency(transfer.value) %>
  </td>
  <td class="flex gap-2">
    <%= link_to edit_transfer_path(transfer), class: "btn btn-soft btn-secondary" do %>
      <i class="ph ph-pencil-simple-line"></i>
      Edit
    <% end %>
    <%= link_to transfer, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-soft btn-error" do %>
      <i class="ph ph-trash"></i>
      Delete
    <% end %>
  </td>
</tr>
