<div class="w-full">
  <div class="flex flex-wrap justify-between items-center">
    <%= render UI::H1.new.with_content('Transfers') %>
    <%= link_to "New Transfer", new_transfer_path, class: "btn btn-primary" %>
  </div>

  <div class="flex justify-center items-center my-6 gap-8">
    <%=
      link_to @month.prev_month.strftime('%b %Y'),
              url_for(month: @month.prev_month.strftime('%Y/%m')),
              class: "link"
    %>

    <div class="text-2xl font-semibold tracking-tight"> <%= @month.strftime('%B %Y') %> </div>

    <%=
      link_to @month.next_month.strftime('%b %Y'),
              url_for(month: @month.next_month.strftime('%Y/%m')),
              class: "link"
    %>
  </div>

  <div class="overflow-x-auto">
    <table id="transfers" class="table table-zebra">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Origin Account</th>
          <th>Target Account</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @transfers %>
      </tbody>
    </table>
  </div>
</div>
