<div id="<%= dom_id category %>" class="px-2 py-3 border-b border-border">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="mr-2">
        <%== render_category_icon(category) %>
      </div>
      <h2 class="text-lg font-medium leading-none">
        <%= category.name %>
      </h2>
    </div>
    <div class="flex items-center">
      <%= link_to "Edit", edit_category_path(category), class: "text-indigo-600 hover:text-indigo-900 mr-4" %>
      <%= link_to "Delete", category, data: {  turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "text-orange-600 hover:text-orange-900" %>
    </div>
  </div>
</div>
