<%= form_with(model: category, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render FormLabelComponent.new(form, :name) %>
    <%= form.text_field :name, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <div class="grid w-full items-center my-5 gap-2">
    <%= render FormLabelComponent.new(form, :color) %>
    <%= render ColorSelectComponent.new(form, :color, default_value: category.color) %>
  </div>

  <div class="my-5">
    <%= render FormLabelComponent.new(form, :icon) %>
    <div class="grid grid-cols-5 gap-4 mt-2" data-controller="icon-selector" id="icons-list">
      <% all_icons.each do |icon_name| %>
        <button
          type="button"
          data-action="icon-selector#select"
          data-icon-name="<%= icon_name %>"
          class="w-8 h-8 rounded <%= icon_name.to_s == category.icon && 'bg-accent' %>"
        >
          <%== render_icon(icon_name) %>
        </button>
      <% end %>
      <%= form.hidden_field :icon, data: { 'icon-selector-target': 'iconInput' } %>
    </div>
  </div>

  <div class="flex flex-wrap gap-2">
    <%= form.submit class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 hover:cursor-pointer" %>
    <%= link_to "Back to categories", categories_path, class: "ml-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-muted text-muted-foreground shadow hover:bg-muted/40 h-9 px-4 py-2" %>
    <% if category.persisted? %>
      <%= link_to category, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground shadow-sm hover:bg-destructive/90 h-9 px-4 py-2" do %>
        Delete Category
      <% end %>
    <% end %>
  </div>

<% end %>
