<%= form_with(model: category, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :parent_category_id %>
    <%= form.collection_select :parent_category_id, @categories_without_parent, :id, :name, {prompt: "Select a category"}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label :color %>
    <%= form.color_field :color %>
  </div>

  <div class="my-5">
    <%= form.label :icon %>
    <div class="block grid grid-cols-5 gap-4 mt-2" data-controller="icon-selector" id="icons-list">
      <% Category::Icons::PATHS.each_key do |icon_name| %>
        <button
          type="button"
          data-action="icon-selector#select"
          data-icon-name="<%= icon_name %>"
          class="w-8 h-8 rounded <%= icon_name.to_s == category.icon && 'bg-blue-200' %>"
        >
          <%= Category::Icons.fetch(icon_name, background: 'transparent', fill: 'black').html_safe %>
        </button>
      <% end %>
      <%= form.hidden_field :icon, data: { 'icon-selector-target': 'iconInput' } %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
