<%= form_with(model: transaction, data: { controller: "transaction-search credit-card-statement-select" }) do |form| %>
  <%= render FormErrorsExplanation.new(transaction.errors) if transaction.errors.any? %>

  <div class="my-5">
    <%= render UI::FormLabel.new(form, :transaction_type) %>
    <div class="flex items-center space-x-2 mt-1" data-controller="switch-input">
      <button type="button" data-action="switch-input#toggle" role="switch" data-state="<%= transaction.value > 0 ? 'checked' : 'unchecked' %>" class="peer inline-flex h-5 w-9 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent shadow-xs transition-colors focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background data-[state=checked]:bg-positive data-[state=unchecked]:bg-negative">
        <span data-state="<%= transaction.value > 0 ? 'checked' : 'unchecked' %>" class="pointer-events-none block h-4 w-4 rounded-full bg-base-100 shadow-lg ring-0 transition-transform data-[state=checked]:translate-x-4 data-[state=unchecked]:translate-x-0"></span>
      </button>
      <label data-action="click->switch-input#toggle" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
        <%= transaction.value > 0 ? 'Income' : 'Expense' %>
      </label>
      <%= form.hidden_field :transaction_type, value: transaction.value > 0 ? 'income' : 'expense' %>
    </div>
  </div>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :value) %>
    <div class="flex-grow">
      <%= render UI::MoneyField.new(form, :value, default_value: transaction.value&.abs) %>
    </div>
  <% end %>

  <% if transaction.new_record? %>
    <%= render UI::FormGroup.new do %>
      <%= render UI::FormLabel.new(form, :installments) %>
      <%= form.number_field :installments, class: "input w-full", min: 1, value: 1, step: 1 %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :description) %>
    <div data-transaction-search-target="transaction" class="relative text-left">
      <%= form.text_field :description,
          class: "input w-full",
          data: { action: "transaction-search#search" },
          value: transaction.description,
          autocomplete: "off"
      %>
      <div class="hidden absolute right-0 mt-1 w-full z-10 overflow-auto max-h-64 rounded-md border bg-base-100 text-base-content shadow-md">
      </div>
    </div>
  <% end %>

  <%= render UI::FormGroup.new(data: { transaction_search_target: "category" }) do %>
    <%= render UI::FormLabel.new(form, :category_id) %>
    <%= render UI::SelectField.new(name: form.field_name(:category_id), placeholder: 'Select a category', value: transaction.category_id) do |comp| %>
      <% Current.user.categories.order(:name).each do |category| %>
        <% comp.with_option(value: category.id) do %>
          <div class="mr-2">
            <%= render AppUI::Categories::Icon.new(category, size: "lg") %>
          </div>
          <div><%= category.name %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new(data: { transaction_search_target: "account" }) do %>
    <%= render UI::FormLabel.new(form, :account_id) %>
    <%= render UI::SelectField.new(name: form.field_name(:account_id), placeholder: 'Select an account', value: transaction.account_id) do |comp| %>
      <% Current.user.accounts.order(:name).each do |account| %>
        <% comp.with_option(value: account.id) do %>
          <div class="mr-2">
            <%= render AppUI::Accounts::Icon.new(account, size: "lg") %>
          </div>
          <div><%= account.name %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if Current.user.tags.any? %>
    <%= render UI::FormGroup.new do %>
      <%= render UI::FormLabel.new(form, :tags) %>
      <%= render UI::MultiSelectField.new(name: "transaction[tag_ids][]", selected_values: transaction.tag_ids, placeholder: "Select tags...") do |comp| %>
        <% Current.user.tags.by_last_usage.each do |tag| %>
          <% comp.with_option(value: tag.id, label: tag.name, color: tag.color, selected: transaction.tag_ids.include?(tag.id)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :date) %>
    <%= render "components/ui/date_picker", name: form.field_name(:date), initial_value: transaction.date&.to_fs(:day_month_year) %>
  <% end %>

  <%= render UI::FormGroup.new(data: { credit_card_statement_select_target: "statementMonthFormGroup" }) do %>
    <%= render UI::FormLabel.new(form, :credit_card_statement_month) %>
    <%= render UI::SelectField.new(name: form.field_name(:credit_card_statement_month), placeholder: 'Select a Month', value: transaction.credit_card_statement&.month) do |comp| %>
      <% [-1, 0, 1].each do |i| %>
        <% month = Date.current.beginning_of_month + i.months %>
        <% comp.with_option(value: month.to_date, label: month.to_date.to_fs(:month_year)) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <div class="flex items-center space-x-2">
      <%= form.check_box :exclude_from_reports, class: "checkbox" %>
      <%= render UI::FormLabel.new(form, :exclude_from_reports) %>
    </div>
  <% end %>

  <div class="flex justify-between">
    <%= render UI::Button.new(form:) %>
    <%= link_to "Cancel", transactions_path, class: "btn btn-soft" %>
  </div>
<% end %>
