<%= form_with(model: transaction, class: "contents") do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= render 'components/form_label', form:, attribute: :transaction_type %>
    <div class="flex items-center space-x-2 mt-1" data-controller="switch-input">
      <button type="button" data-action="switch-input#toggle" role="switch" data-state="<%= transaction.value > 0 ? 'checked' : 'unchecked' %>" class="peer inline-flex h-5 w-9 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background data-[state=checked]:bg-positive data-[state=unchecked]:bg-negative">
        <span data-state="<%= transaction.value > 0 ? 'checked' : 'unchecked' %>" class="pointer-events-none block h-4 w-4 rounded-full bg-background shadow-lg ring-0 transition-transform data-[state=checked]:translate-x-4 data-[state=unchecked]:translate-x-0"></span>
      </button>
      <label data-action="click->switch-input#toggle" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
        <%= transaction.value > 0 ? 'Income' : 'Expense' %>
      </label>
      <%= form.hidden_field :transaction_type, value: transaction.value > 0 ? 'income' : 'expense' %>
    </div>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :value %>
    <%= render 'components/money_input', form:, attribute: :value, default_value: transaction.value&.abs %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :description %>
    <%= form.text_field :description, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :category_id %>
    <%=
      render 'components/select',
      name: form.field_name(:category_id),
      placeholder: 'Select a category',
      options: Category.all.order(:name).map { |category| { value: category.id, label: category.name } },
      value: transaction.category_id
    %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :account_id %>
    <%= render 'components/select',
        name: form.field_name(:account_id),
        placeholder: 'Select an account',
        options: Account.all.order(:name).map { |account| { value: account.id, label: account.name, item: account } },
        value: transaction.account_id do |account|
    %>
      <div class="mr-2">
        <%== render_account_icon(account) %>
      </div>
      <div><%= account.name %></h3>
    <% end %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :date %>
    <%= render "components/date_picker", name: form.field_name(:date), initial_value: transaction.date&.to_fs(:day_month_year) %>
  </div>

  <div class="inline">
    <%= form.submit class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 hover:cursor-pointer" %>
  </div>
<% end %>
