<%= form_with(model: transaction, class: "contents") do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <div class="flex items-center">
      <%= form.radio_button :transaction_type, "expense", checked: transaction.value <= 0, class: "mr-2" %>
      <%= form.label :transaction_type_expense, class: "mr-4" do %>
        Expense
      <% end %>
      <%= form.radio_button :transaction_type, "income", checked: transaction.value > 0, class: "mr-2" %>
      <%= form.label :transaction_type_income do %>
        Income
      <% end %>
    </div>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= form.label :value, class: "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
    <%= form.number_field :value, min: 0.01, step: 0.01, value: transaction.value.abs, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= form.label :description, class: "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
    <%= form.text_field :description, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= form.label :category_id, class: "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
    <%=
      render 'components/select',
      name: form.field_name(:category_id),
      placeholder: 'Select a category',
      options: Category.all.order(:name).map { |category| { value: category.id, label: category.name } },
      value: transaction.category_id
    %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= form.label :account_id, class: "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
    <%=
      render 'components/select',
      name: form.field_name(:account_id),
      placeholder: 'Select an account',
      options: Account.all.order(:name).map { |account| { value: account.id, label: account.name } },
      value: transaction.account_id
    %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= form.label :date, class: "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
    <%= render "components/date_picker", name: form.field_name(:date), initial_value: transaction.date&.to_fs(:day_month_year) %>
  </div>

  <div class="inline">
    <%= form.submit class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2" %>
  </div>
<% end %>
