<%= form_with(model: transaction, data: { controller: "transaction-search credit-card-statement-select" }) do |form| %>
  <%= render FormErrorsExplanation.new(transaction.errors) if transaction.errors.any? %>

  <div class="my-3 flex flex-col gap-1">
    <%= render UI::FormLabel.new(form, :transaction_type) %>
    <%= render AppUI::TransactionKindSwitch.new(form, transaction) %>
  </div>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :value) %>
    <div class="flex-grow">
      <%= render UI::MoneyField.new(form, :value, default_value: transaction.value&.abs) %>
    </div>
  <% end %>

  <% if transaction.new_record? %>
    <%= render UI::FormGroup.new do %>
      <%= render UI::FormLabel.new(form, :installments) %>
      <%= form.number_field :installments, class: "input w-full", min: 1, value: 1, step: 1 %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :description) %>
    <div data-transaction-search-target="transaction" class="relative text-left">
      <%= form.text_field :description,
          class: "input w-full",
          data: { action: "transaction-search#search" },
          value: transaction.description,
          autocomplete: "off"
      %>
      <div data-transaction-search-target="dropdown" class="hidden absolute right-0 mt-1 w-full z-10 overflow-auto max-h-64 rounded-md border bg-base-100 text-base-content shadow-md">
      </div>
    </div>
  <% end %>

  <%= render UI::FormGroup.new(data: { transaction_search_target: "category" }) do %>
    <%= render UI::FormLabel.new(form, :category_id) %>
    <%= render UI::SelectField.new(name: form.field_name(:category_id), placeholder: 'Select a category', value: transaction.category_id) do |comp| %>
      <% Current.user.categories.order(:name).each do |category| %>
        <% comp.with_option(value: category.id) do %>
          <div class="mr-2">
            <%= render AppUI::Categories::Icon.new(category, size: "lg") %>
          </div>
          <div><%= category.name %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new(data: { transaction_search_target: "account" }) do %>
    <%= render UI::FormLabel.new(form, :account_id) %>
    <%= render UI::SelectField.new(name: form.field_name(:account_id), placeholder: 'Select an account', value: transaction.account_id) do |comp| %>
      <% Current.user.accounts.order(:name).each do |account| %>
        <% comp.with_option(value: account.id) do %>
          <div class="mr-2">
            <%= render AppUI::Accounts::Icon.new(account, size: "lg") %>
          </div>
          <div><%= account.name %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if Current.user.tags.any? %>
    <%= render UI::FormGroup.new do %>
      <%= render UI::FormLabel.new(form, :tags) %>
      <%= render UI::MultiSelectField.new(name: "transaction[tag_ids][]", selected_values: transaction.tag_ids, placeholder: "Select tags...") do |comp| %>
        <% Current.user.tags.by_last_usage.each do |tag| %>
          <% comp.with_option(value: tag.id, label: tag.name, color: tag.color, selected: transaction.tag_ids.include?(tag.id)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :date) %>
    <%= render "components/ui/date_picker", name: form.field_name(:date), initial_value: transaction.date&.to_fs(:day_month_year) %>
  <% end %>

  <%= render UI::FormGroup.new(data: { credit_card_statement_select_target: "statementMonthFormGroup" }) do %>
    <%= render UI::FormLabel.new(form, :credit_card_statement_month) %>
    <%= render UI::SelectField.new(name: form.field_name(:credit_card_statement_month), placeholder: 'Select a Month', value: transaction.credit_card_statement&.month) do |comp| %>
      <% [-1, 0, 1].each do |i| %>
        <% month = Date.current.beginning_of_month + i.months %>
        <% comp.with_option(value: month.to_date, label: month.to_date.to_fs(:month_year)) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <div class="flex items-center space-x-2">
      <%= form.check_box :exclude_from_reports, class: "checkbox" %>
      <%= render UI::FormLabel.new(form, :exclude_from_reports) %>
    </div>
  <% end %>

  <div class="flex justify-between">
    <%= render UI::Button.new(form:) %>
    <%= link_to "Cancel", transactions_path, class: "btn btn-soft" %>
  </div>
<% end %>
