<div class="flex md:hidden dock dock-md bg-neutral text-neutral-content">
  <%= link_to root_path, class: class_names('dock-active': controller_name == "home") do %>
    <i class="ph-bold ph-house"></i>
    <span class="sr-only">Home</span>
  <% end %>
  <%= link_to transactions_path, class: class_names('dock-active': controller_name == "transactions") do %>
    <i class="ph-bold ph-plus"></i>
    <span class="sr-only">Transactions</span>
  <% end %>
  <%= link_to transfers_path, class: class_names('dock-active': controller_name == "transfers") do %>
    <i class="ph-bold ph-repeat"></i>
    <span class="sr-only">Transfers</span>
  <% end %>
  <%= link_to accounts_path, class: class_names('dock-active': controller_name == "accounts") do %>
    <i class="ph-bold ph-bank"></i>
    <span class="sr-only">Accounts</span>
  <% end %>
  <%= link_to categories_path, class: class_names('dock-active': controller_name == "categories") do %>
    <i class="ph-bold ph-tag"></i>
    <span class="sr-only">Categories</span>
  <% end %>
  <%= link_to settings_path, class: class_names('dock-active': controller_name == "settings") do %>
    <i class="ph-bold ph-gear"></i>
    <span class="sr-only">Settings</span>
  <% end %>
</div>
