<div class="hidden md:flex navbar bg-base-100 shadow-sm">
  <%= link_to 'FinB', root_path, class: "btn btn-ghost text-xl" %>
  <ul class="menu menu-horizontal px-1">
    <li>
      <%= link_to 'Transactions', transactions_path, class: class_names('menu-active': controller_name == 'transactions')  %>
    </li>
    <li>
      <%= link_to 'Transfers', transfers_path, class: class_names('menu-active': controller_name == 'transfers')  %>
    </li>
    <li>
      <%= link_to 'Accounts', accounts_path, class: class_names('menu-active': controller_name == 'accounts')  %>
    </li>
    <li>
      <%= link_to 'Credit Cards', credit_cards_path, class: class_names('menu-active': controller_name == 'credit_cards')  %>
    </li>
    <li>
      <%= link_to 'Categories', categories_path, class: class_names('menu-active': controller_name == 'categories')  %>
    </li>
    <li>
      <%= link_to 'Settings', settings_path, class: class_names('menu-active': controller_name == 'settings')  %>
    </li>
    <li>
      <%= link_to 'Reports', reports_path, class: class_names('menu-active': controller_name == 'reports')  %>
    </li>
  </ul>
</div>






