<!DOCTYPE html>
<html>
  <head>
    <title>Finb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("icon.png") %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <%= render 'components/navbar' %>
    <main class="container mx-auto mt-14 px-5 flex pb-5">
      <%= yield %>
    </main>

    <% if notice = flash[:notice] || flash[:alert] %>
      <div tabindex="-1" role="alert" class="fixed bottom-0 z-[100] flex max-h-screen w-full flex-col-reverse p-4 sm:right-0 sm:top-auto sm:flex-col md:max-w-[420px]">
        <div class="pointer-events-auto relative flex w-full items-center justify-between space-x-4 overflow-hidden rounded-md p-6 pr-8 shadow-lg border bg-background text-foreground animate-slide-in-out" style="user-select: none; touch-action: none;">
          <div class="text-sm font-semibold <%= flash[:alert] ? 'text-warning' : 'text-success' %>"><%= notice %></div>
        </div>
      </div>
    <% end %>
  </body>
</html>
