<%= form_with(model: account, class: "contents") do |form| %>
  <%= render FormErrorsExplanation.new(account.errors) if account.errors.any? %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :name) %>
    <%= render UI::TextField.new(form, :name) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :kind) %>
    <%= render UI::SelectField.new(name: form.field_name(:kind), placeholder: 'Select a kind', value: account.kind) do |comp| %>
      <% Account.kinds.each do |kind, _| %>
        <% comp.with_option(value: kind, label: t("account_kinds.#{kind}")) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :initial_balance) %>
    <%= render UI::MoneyField.new(form, :initial_balance) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :initial_balance_date) %>
    <%= render "components/ui/date_picker", name: form.field_name(:initial_balance_date), initial_value: account.initial_balance_date&.to_fs(:day_month_year) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :color) %>
    <%= render UI::ColorField.new(form, :color, default_value: account.color) %>
  <% end %>

  <%= render UI::FormGroup.new do %>
    <%= render UI::FormLabel.new(form, :credit_card_expiration_day) %>
    <%= render UI::NumberField.new(form, :credit_card_expiration_day) %>
  <% end %>

  <div class="inline">
    <%= render UI::Button.new(form:) %>
  </div>
<% end %>
