<%= form_with(model: account, class: "contents") do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :name %>
    <%= form.text_field :name, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :kind %>
    <%=
      render 'components/select',
      name: form.field_name(:kind),
      placeholder: 'Select a kind',
      options: Account.kinds.map { |k, _| { value: k, label: t("account_kinds.#{k}") } },
      value: account.kind
    %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :initial_balance %>
    <%= form.number_field :initial_balance, step: 0.01, class: "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" %>
  </div>

  <div class="grid w-full items-center gap-1.5 my-5">
    <%= render 'components/form_label', form:, attribute: :initial_balance_date %>
    <%= render "components/date_picker", name: form.field_name(:initial_balance_date), initial_value: account.initial_balance_date&.to_fs(:day_month_year) %>
  </div>

  <div class="grid w-full items-center my-5 gap-2">
    <%= render 'components/form_label', form:, attribute: :color %>
    <%= render 'components/color_select', form:, attribute: :color, default_value: account.color %>
  </div>

  <div class="inline">
    <%= form.submit class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 hover:cursor-pointer" %>
  </div>
<% end %>
