<tr id="<%= dom_id transfer %>">
  <td><%= transfer.date.to_fs(:day_month_year) %></td>
  <td><%= transfer.description %></td>
  <td>
    <div class="flex items-center">
      <% if @account.id == transfer.origin_account.id %>
        <div class="mr-2">
          <%= render AppUI::Accounts::Icon.new(transfer.target_account) %>
        </div>
        <div>
          <%= transfer.target_account.name %>: Outbound transfer
        </div>
      <% else %>
        <div class="mr-2">
          <%= render AppUI::Accounts::Icon.new(transfer.origin_account) %>
        </div>
        <div>
          <%= transfer.origin_account.name %>: Inbound transfer
        </div>
      <% end %>
    </div>
  </td>
  <td class="<%= @account.id == transfer.target_account.id ? 'text-positive' : 'text-negative' %>">
    <%= number_to_currency(transfer.value) %>
  </td>
  <td class="flex gap-2">
    <%= link_to edit_transfer_path(transfer), class: "btn btn-soft btn-secondary" do %>
      <i class="ph ph-pencil-simple-line"></i>
      Edit
    <% end %>
    <%= link_to transfer, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-soft btn-error" do %>
      <i class="ph ph-trash"></i>
      Delete
    <% end %>
  </td>
</tr>
