<div class="w-full">
  <div class="flex flex-wrap justify-between items-center pb-2">
    <%= render UI::H1.new.with_content('Accounts') %>
    <%= render UI::Button.new(href: new_account_path).with_content("New Account") %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
    <% Account.kinds.keys.each do |kind| %>
      <div>
        <div class="text-lg font-bold mb-2">
          <%= kind.humanize %>
        </div>

        <div class="flex flex-col">
          <% @grouped_accounts[kind]&.each do |account| %>
            <%= link_to account_path(account), class: "flex justify-between items-center hover:bg-neutral rounded-md p-1" do %>
              <div class="flex items-center space-x-2">
                <%= render AppUI::Accounts::Icon.new(account, size: "lg") %>
                <span>
                  <%= account.name %>
                </span>
              </div>
              <p
                class="text-xs <%= account.balance.positive? ? 'text-positive' : 'text-negative' %>">
                <%= number_to_currency account.balance %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
