<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <%= render UI::H1.new do %>
      <div class="text-transparent bg-clip-text!" style="background: linear-gradient(180deg, var(--color-base-content) 10%, <%= @account.color %> 100%);">
        <%= @account.name %>
      </div>
    <% end %>
    <%= link_to "Add transaction", new_transaction_path(account_id: @account.id), class: "btn btn-primary" %>
  </div>


  <div class="flex items-center gap-2">
    <div class="text-base-content/80">Balance:</div>
    <div class="font-semibold tracking-tight">
      <%= number_to_currency(@account.balance) %>
    </div>
  </div>

  <% if @account.kind == 'checking' %>
    <div class="grid grid-cols-2 mt-4 h-96">
      <%= turbo_frame_tag "expenses_by_categories", src: reports_expenses_by_category_url(account_id: @account.id, month: @month) do %>
        Loading...
      <% end %>
      <%= turbo_frame_tag "income_by_categories", src: reports_income_by_category_url(account_id: @account.id, month: @month) do %>
        Loading...
      <% end %>
    </div>
  <% end %>

  <% if @account.kind == 'savings' || @account.kind == 'investment' %>
    <%= turbo_frame_tag "daily_balances", src: reports_daily_balance_url(account_id: @account.id) do %>
      <div class="h-96 mt-4">Loading...</div>
    <% end %>
  <% end %>

  <% if @account.kind == 'credit_card' %>
    <div class="h-96">
      <%= turbo_frame_tag "expenses_by_categories", src: reports_expenses_by_category_url(account_id: @account.id, month: @month) do %>
        Loading...
      <% end %>
    </div>
  <% end %>

  <div class="flex justify-center items-center my-6 gap-8">
    <%=
      link_to @month.prev_month.strftime('%b %Y'),
              url_for(params.permit(:category_id).merge(month: @month.prev_month.strftime('%Y/%m'))),
              class: "link"
    %>

    <div class="text-2xl font-semibold tracking-tight"> <%= @month.strftime('%B %Y') %> </div>

    <%=
      link_to @month.next_month.strftime('%b %Y'),
              url_for(params.permit(:category_id).merge(month: @month.next_month.strftime('%Y/%m'))),
              class: "link"
    %>
  </div>

  <div class="overflow-x-auto">
    <table id="transactions" class="table table-zebra">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions_and_transfers.each do |record| %>
          <% if record.is_a?(Transaction) %>
            <%= render 'transaction', transaction: record %>
          <% else %>
            <%= render 'transfer', transfer: record %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider divider-start">More options</div>

  <div class="mt-2 flex flex-wrap gap-2">
    <%= link_to "Edit Account Details", edit_account_path(@account), class: "btn btn-soft btn-secondary" %>
    <%= link_to "Fix Balance", new_account_balance_fix_path(@account), class: "btn btn-soft btn-secondary" %>
    <%= link_to "Delete Account", @account, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-soft btn-error" %>
  </div>
</div>
